<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"></head>
</head>
<body>
    <%- include('../includes/nav.ejs')%>
    <main>
        <div class="has-text-centered box">
        <h1 class="is-size-3">
            <%= article.title %>
        </h1>
        <div>
            <img src="/<%= article.imageUrl %>" alt="<%= article.title %>" width="500px" class=" my-4">
        </div>
        <div>
            <p>
                <%= article.description %>
            </p>
        </div>
        <div class="is-flex is-flex-direction-row level-item is-justify-content-right">
            <a href="/edit-post/<%= article._id %>?edit=true" class="button is-small mr-2">Edit a post</a>
         <form action="/delete-post" method="post" class="button is-small" >
             <input type="hidden" name="postId" value="<%= article._id %>"/>
             <a class="card-footer-item" href="#" onclick="this.closest('form').submit();return false;" >Delete a post</a>
         </form>
     </div>

</div>
    </main>

<%- include('../includes/end.ejs')%>
