<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"></head>
<body>
    <%- include('../includes/nav.ejs') %>
    <div class="columns">
        <div class="">
        <main>
        <% if(articles.length > 0) { %>
            <div class="is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-space-evenly level-item">
            <% for(let article of articles) { %>
            <div class="column is-one-quarter mx-2 mt-5 has-text-centered box level-item">
                <article>
                    <div>
                        <img src="http://localhost:8000/<%= article.imageUrl %>" alt="<%= article.title %>" width="100%">
                    </div>
                    <header>
                        <h1 class="title is-5 pb-1 mt-3">
                            <%= article.title %>
                        </h1>
                    </header>
                    <div class="pb-4">
                        <% if(article.description.length >= 20) { %>
                            <%= article.description.slice(0, 20).concat('...')%>
                        <% }else{ %>
                            <%= article.description %>
                        <% } %>
                    </div>
                        <section class="is-flex is-flex-direction-row is-justify-content-space-between level-item">
                            <div><a href="/posts/<%= article._id %>" class="button is-small is-link is-outlined">Read more</a></div>

                            <div class="is-flex is-flex-direction-row">
                           <a href="/author/edit-post/<%= article._id %>?edit=true" class="" style="margin-right:1rem ;"><i class="fas fa-edit"></i></a>
                        <form action="/author/delete-post" method="post">
                            <input type="hidden" name="postId" value="<%= article._id %>"/>
                            <a class="" href="#" onclick="this.closest('form').submit();return false;" ><i class="fas fa-trash-alt"></i></a>
                        </form>
                    
                    </div>
                    </section>
                </article>
            </div>
            <% } %>
        </div>
        <% } else { %>
            <h1>No Articles Found</h1>
        <% } %>
    </main>
</div>
</div>

    <%- include('../includes/end.ejs') %>

